body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 a {
    color: white;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-left: 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: #444;
}

main {
    padding: 20px;
    flex: 1;
}

.products {
    margin-top: 20px;
}

.product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.product-details {
    display: flex;
    flex: 1;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.product-info a{
    color: #06080a;
    text-decoration: none;
    transition: color 0.3s;
}
.product-info a:hover{
    color: #020507;
    text-decoration: underline;
}

.price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.city-timestamp {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.city-timestamp .city {
    font-size: 0.85em;
    color: #555;
}

.city-timestamp .timestamp {
    font-size: 0.85em;
    color: #777;
    margin-left: 50px;
}

.city-timestamp span {
    font-size: 0.85em;
    color: #777;
}

.timestamp {
    margin-left: auto;
}

.add-to-cart {
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    align-self: flex-end;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.cart-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter label {
    margin-right: 10px;
    font-weight: bold;
}

.filter select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
    font-size: 1em;
}

.filter select:hover {
    border-color: #007bff;
}

.filter button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}

.filter button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.filter button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button.Reset {
    background-color:#218838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}
button.Reset:hover {
    background-color: darkgreen;
}

.add-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    width: 400px;
    margin: 0 auto;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    padding: 12px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}
.add-product-button {
    padding: 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}

.add-product-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
.add-product-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.submit-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.product-link {
    color: #06080a;
    text-decoration: none;
    transition: color 0.3s;
}

.product-link:hover {
    color: #020507;
    text-decoration: underline;
}

.remove-btn, .checkout-btn {
    padding: 10px 15px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

.remove-btn:hover, .checkout-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.remove-btn:focus, .checkout-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

*, *::before, *::after {
    box-sizing: border-box;
}
